@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .section-box {
        margin-bottom: 30px;
    }
    th {
        background-color: antiquewhite;
    }
    th, td {
        padding: 10px;
    }
    li {
        list-style-type: none;
    }
    table td:first-child, table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
        width: 100px;
    }
    table td:nth-child(2), table td:nth-child(3) {
        width: 250px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="">
        <h1 class="display-4">Project 5: SqlServer ft. ASP.NET</h1>
        <h4>Aurel Villyani</h4>
        <br /><hr>
        @if (ViewData["showCustomerList"] != null)
        {
            <h4>Select a Customer: </h4>
            <h6 style="color: grey;">**This list only shows customers who have placed their orders</h6>
            <h4>@Html.DropDownList("customerList", (IEnumerable<SelectListItem>)ViewData["showCustomerList"])</h4>
        }
        <button asp-page-handler="GetOrdersForCustomer">Get Customer Info</button>

        <br>
        @if (ViewData["showOrderForCustomer"] != null)
        {
            <hr>

            <h4>Select an order from the list: </h4>
            var showData = ViewData["showOrderForCustomer"] as System.Data.DataTable;
            <div class="section-box">
                <table>
                    <tr>
                        <th>Customer Name</th>
                        <th>Invoice #</th>
                        <th>Invoice Date</th>
                        <th>Total Item Ordered</th>
                        <th>Customer Code</th>
                        <th></th>
                    </tr>
                    @foreach (System.Data.DataRow row in showData.Rows)
                    {
                        <tr>
                            <td>@row["CustomerName"]</td>
                            <td>@row["InvoiceNumber"]</td>
                            <td>@row["InvoiceDate"]</td>
                            <td>@row["TotalItemOrdered"]</td>
                            <td>@row["CUS_CODE"]</td>
                            <td><button name="btnOrder" asp-page-handler="GetOrderDetails" value="@row["inv_number"]">Details</button></td>
                        </tr>
                    }
                </table>
            </div>
        }

   @if (ViewData["showOrderDetails"] != null)
   {
      var showData = ViewData["showOrderDetails"] as System.Data.DataTable;
      <hr><h3>List of the item(s)</h3>
      <h6 style="color: grey;">**The item purchased will be removed after change the quantity to 0.00</h6>
      <form method="post">
      @foreach (System.Data.DataRow row in showData.Rows)
      {
         <div class="section-box">
            <table>
               <tr>
                  <th>Product #</th>
                  <th>Product Name</th>
                  <th>Current Quantity</th>
                  <th>Price</th>
                  <th>Line Total</th>
                  <th>Order Total</th>
               </tr>
               <tr>
                  <td>@row["P_CODE"]
                     <input type="text" hidden name="lineNumber" value="@row["line_number"]" /></td>
                  <td>@row["ProductName"]</td>
                  <td>
                     <select name="quantityList">
                        <option hidden selected disabled value="@row["Quantity"]">@row["Quantity"]</option>
                        <option value="0.00">0</option>
                        <option value="1.00">1</option>
                        <option value="2.00">2</option>
                        <option value="3.00">3</option>
                        <option value="5.00">5</option>
                        <option value="10.00">10</option>
                        <option value="15.00">15</option>
                        <option value="25.00">25</option>
                     </select>
                    <button name="btnQuantity" asp-page-handler="UpdateQuantity" asp-route-lineNumberChange="@row["line_number"]" value="@row["INV_NUMBER"]">Update</button>
                  </td>
                  <td>@row["Price"]</td>
                  <td>@row["LineTotal"]</td>
                  <td>@row["OrderTotal"]</td>
               </tr>
            </table>
         </div>
      }
      </form>
   }
</div>
}