@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<style>
   .section-box{
      margin-bottom: 30px;
      border: 1px solid black; @*outline the section*@
   }
   th {
      background-color: antiquewhite;
   }
   th, td{
      padding: 10px;
   }
   li {
      list-style-type: none;
   }
</style>
@using (Html.BeginForm())
{
   <div class="">
      <h1 class="display-4">Project 4: Advanced Project</h1>
      <h4>Aurel Villyani</h4>
   
      @if (ViewData["showInstructorList"] != null)
      {
         <h4>Select an instructor: </h4>
         <h4>@Html.DropDownList("instructorList", (IEnumerable<SelectListItem>)ViewData["showInstructorList"])</h4>
      }

      <button asp-page-handler="GetSectionInfo">Get Instructor Info</button>
      @if (ViewData["showInstructorInformation"] != null)
      {
         var showData = ViewData["showInstructorInformation"] as System.Data.DataTable;
         
         @foreach (System.Data.DataRow row in showData.Rows)
         {
            <div class="section-box">
               <table>
                  <tr>
                     <th>Course #</th>
                     <th>section_id</th>
                     <th>Course Name</th>
                     <th>Section Number</th>
                     <th>Enrolled Students</th>
                     <th>Starting Date</th>
                     <th>Location</th>
                     <th>Capacity</th>
                  </tr>
                  <tr>
                     <td>@row["course_no"]</td>
                     <td>@row["section_id"]</td>
                     <td>@row["description"]</td>
                     <td>@row["section_no"]</td>
                     <td>
                        @if (ViewData["showStudentInformation"] != null)
                        {
                           var studentData = ViewData["showStudentInformation"] as System.Data.DataTable;
                      
                              @foreach (System.Data.DataRow student in studentData.Rows)
                              {
                                 // Compare if the section the students enrolled with the section that instructor in
                                 if (student["section_id"].ToString() == row["section_id"].ToString())
                                 {
                                    <li>@student["student_name"]</li>
                                 }
                              }
                        }
                     </td>
                     <td>@row["start_date_time"]</td>
                     <td>@row["location"]</td>
                     <td>
                        <select name="updateCapacity">
                           <option hidden selected disabled>@row["capacity"]</option>
                           <option value="10">10</option>
                           <option value="12">12</option>
                           <option value="15">15</option>
                           <option value="25">25</option>
                        </select>
                        <button name="btnCapacity" asp-page-handler="UpdateCapacity" value="@row["section_id"]">Update</button>
                     </td>
                  </tr>
               </table>
            </div>
         }
      }   
   </div>
}