@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .section-box {
        margin-bottom: 30px;
    }
    th {
        background-color: antiquewhite;
    }
    th, td {
        padding: 10px;
    }
    li {
        list-style-type: none;
    }
    @*table td:first-child, table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
        width: 100px;
    }
    table td:nth-child(2), table td:nth-child(3) {
        width: 250px;
    }*@
</style>
@using (Html.BeginForm())
{
<div class="">
   <h1 class="display-4">Project 6: MySQL ft. ASP.NET</h1>
   <h4>Aurel Villyani</h4>
   <br />
   @if (ViewData["showManagerList"] != null)
   {
      <h4>List of Manager: </h4>
      var showData = ViewData["showManagerList"] as System.Data.DataTable;
      <div class="section-box">
         <table>
            <tr>
               <th>Employee Number</th>
               <th>Manager Name</th>
               <th>Number of Employees</th>
            </tr>
            @foreach (System.Data.DataRow row in showData.Rows)
            {
               <tr>
                  <td>@row["employeeNumber"]</td>
                  <td>@row["ManagerName"]</td>
                  <td>@row["EmployeeNum"]</td>
               </tr>
            }
         </table>
      </div>
   }
   <br>

   @if (ViewData["showAllEmployees"] != null)
   {
      var showData = ViewData["showAllEmployees"] as System.Data.DataTable;
      <h4>List of All Employees: </h4>
      <div class="section-box">
         <table>
            <tr>
               <th>Employee Number</th>
               <th>Employee Name</th>
               <th>Current Manager</th>
               <th></th>
            </tr>
            @foreach (System.Data.DataRow row in showData.Rows)
            {
               <tr>
                  <td>
                     @row["employeeNumber"]
                     <input type="hidden" name="employeeNumber" value="@row["employeeNumber"]"/>
                  </td>
                  <td>@row["EmployeeFullName"]</td>
                  <td>
                     @Html.DropDownList("managerList", 
                                        (IEnumerable<SelectListItem>)ViewData["showManagerDropdown"], 
                                        @row["CurrentManager"].ToString(), 
                                        new { @value = @row["ManagerNumber"] })
                  </td>
                  <td>
                     <button name="btnChangeManager" 
                             asp-page-handler="ChangeManager" 
                             asp-route-employeeNumber="@row["employeeNumber"]" 
                             asp-route-managerNumber="@row["ManagerNumber"]" 
                             value="@row["ManagerNumber"]">Update</button>
                  </td>
               </tr>
            }
         </table>
      </div>
   }
</div>
}