@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<style>
   .section-box{
      margin-bottom: 30px;
      border: 1px solid black; @*outline the section*@
   }
   th {
      background-color: antiquewhite;
   }
   th, td{
      padding: 10px;
   }
</style>
@using (Html.BeginForm())
{
   <div class="">
      <h1 class="display-4">Project 4: Advanced Project</h1>
      <h4>Aurel Villyani</h4>
   
      @if (ViewData["showInstructorList"] != null)
      {
         <h4>Select an instructor: </h4>
         <h4>@Html.DropDownList("instructorList", (IEnumerable<SelectListItem>)ViewData["showInstructorList"])</h4>
      }

      <button asp-page-handler="GetInstructorInfo">Get Instructor Info</button>
      @if (ViewData["showInstructorInformation"] != null)
      {
         var showData = ViewData["showInstructorInformation"] as System.Data.DataTable;
         @foreach (System.Data.DataRow row in showData.Rows)
         {
            <div class="section-box">
               <table>
                  <tr>
                     <th>Course #</th>
                     <th>Course Name</th>
                     <th>Section Number</th>
                     <th>Enrolled Students</th>
                     <th>Starting Date</th>
                     <th>Location</th>
                     <th>Capacity</th>
                  </tr>
                  <tr>
                     <td>@row["course_no"]</td>
                     <td>@row["description"]</td>
                     <td>@row["section_no"]</td>
                     <td>
                        @if (ViewData["showStudentInformation"] != null)
                        {
                           var studentData = ViewData["showStudentInformation"] as System.Data.DataTable;
                           foreach (System.Data.DataRow student in studentData.Rows)
                           {
                             <table>
                                    <tr>
                                       <th>Student Names</th>
                                    </tr>
                                    <tr>
                                       <td>@student["student_name"]</td>
                                    </tr>
                                 </table>
                           }
                        }
                     </td>
                     <td>@row["start_date_time"]</td>
                     <td>@row["location"]</td>
                     @*<td>@Html.DropDownList("capacityList", (IEnumerable<SelectListItem>)ViewData["capacity_number"])</td>*@
                     @*@foreach (System.Data.DataColumn col in showData.Columns)
                     {
                        <td>@row[col.ColumnName]</td>
                     }*@
                  </tr>
               </table>
            </div>
         }
      }

      
   </div>
}