@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .section-box {
        margin-bottom: 30px;
    }
    th {
        background-color: antiquewhite;
    }
    th, td {
        padding: 10px;
    }
    li {
        list-style-type: none;
    }
    @*table td:first-child, table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
        width: 100px;
    }
    table td:nth-child(2), table td:nth-child(3) {
        width: 250px;
    }*@
</style>
@using (Html.BeginForm())
{
    <div class="">
        <h1 class="display-4">Project 6: MySQL ft. ASP.NET</h1>
        <h4>Aurel Villyani</h4>
        <br />
        @if (ViewData["showManagerList"] != null)
        {
            <h5>List of Manager: </h5>
            @*<h4>@Html.DropDownList("managerList", (IEnumerable<SelectListItem>)ViewData["showManagerList"])</h4>*@
           var showData = ViewData["showManagerList"] as System.Data.DataTable;
           <div class="section-box">
                <table>
                    <tr>
                        <th>Employee Number</th>
                        <th>Manager Name</th>
                        <th>Number of Employees</th>
                    </tr>
                    @foreach (System.Data.DataRow row in showData.Rows)
                    {
                        <tr>
                            <td>@row["employeeNumber"]</td>
                            <td>@row["ManagerName"]</td>
                            <td>@row["EmployeeNum"]</td>
                        </tr>
                    }
                </table>
            </div>
        }
        <br>

        @if (ViewData["showAllEmployees"] != null)
        {
            var showData = ViewData["showAllEmployees"] as System.Data.DataTable;
            <div class="section-box">
                <table>
                    <tr>
                        <th>Employee Number</th>
                        <th>Employee Name</th>
                        <th>Current Manager</th>
                        <th>Changer Manager</th>
                    </tr>
                    @foreach (System.Data.DataRow row in showData.Rows)
                    {
                        <tr>
                            <td>@row["employeeNumber"]</td>
                            <td>@row["EmployeeFullName"]</td>
                            <td>@row["CurrentManager"]</td>
                            <td>
                               @if (ViewData["showManagerDropdown"] != null)
                               {
                                  <h4>@Html.DropDownList("managerList", (IEnumerable<SelectListItem>)ViewData["showManagerDropdown"])</h4>
                               }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
</div>
}